//- .pt__footer
//-     .container
//-         .pt__footer-content
//-             .row
//-                 .col-7
//-                     .pt__footer_wrapper
//-                         .pt__footer_left
//-                             .pt__footer_menu_list
//-                                 ul
//-                                     li
//-                                         a(href="#") Terms of Service
//-                                     li
//-                                         a(href="#") Privacy Policy
//-                                     li
//-                                         a(href="#") Client Data Protection Policy
//-                             .pt__footer_menu_list
//-                                 ul
//-                                     li
//-                                         a(href="#") Modern Slavery Statement
//-                                     li
//-                                         a(href="#") Anti Bribery Policy
//-                                     li
//-                                         a(href="#") Fair Use Policy
//-                             .pt__footer_menu_list
//-                                 ul
//-                                     li
//-                                         a(href="#") Client Portal
//-                                     li
//-                                         a(href="#") Press & Media
//-                                     li
//-                                         a(href="#") Careers
//-                             .pt__footer_menu_list
//-                                 .pt__footer_right
//-                                     h4 Contact Us
//-                                     .pt__footer_social
//-                                         .pt__footer_social_icon
//-                                             a(href="#")
//-                                                 img(src="assets/images/facebook.png", alt="facebook")
//-                                         .pt__footer_social_icon
//-                                             a(href="#")
//-                                                 img(src="assets/images/twitter.png", alt="twitter")
//-                                         .pt__footer_social_icon
//-                                             a(href="#")
//-                                                 img(src="assets/images/linkedin.png", alt="linkedin")
//-                                         .pt__footer_social_icon
//-                                             a(href="#")
//-                                                 img(src="assets/images/whatsapp.png", alt="whatsapp")
//-                                     a(href="#") Tel: +44 (0) 203 9888 988
//-                                     a(href="#") Support: +44 (0) 203 9888 333
//-                                     a(href="#") Email: contactus@planet-telecom.tech
//-                         .pt__footer_bottom
//-                             .footer_rights 
//-                                 p © Planet Telecom Ltd, 2023. All rights reserved.
//-                             .footer_sitemap
//-                                 a(href="#") Sitemap
//-                 .col-3
//-                     .pt__footer_right
//-                         h4 Contact Us
//-                         .pt__footer_social
//-                             .pt__footer_social_icon
//-                                 a(href="#")
//-                                     img(src="assets/images/facebook.png", alt="facebook")
//-                             .pt__footer_social_icon
//-                                 a(href="#")
//-                                     img(src="assets/images/twitter.png", alt="twitter")
//-                             .pt__footer_social_icon
//-                                 a(href="#")
//-                                     img(src="assets/images/linkedin.png", alt="linkedin")
//-                             .pt__footer_social_icon
//-                                 a(href="#")
//-                                     img(src="assets/images/whatsapp.png", alt="whatsapp")
//-                         a(href="tel:+4702039888988") Tel: +44 (0) 203 9888 988
//-                         a(href="tel:+4402039888333") Support: +44 (0) 203 9888 333
//-                         a(href="mailto:contactus@planet-telecom.tech").white-space Email: contactus@planet-telecom.tech


script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js')
script(src='assets/js/smooth-scroll.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js')
script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js')
script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js')
script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
script(src='assets/js/main.js')