//- .header__main
//-     .container
//-         .row.align-baseline.justify-between
//-             .col-2
//-                 .header__logo
//-                     a(href='index.html')
//-                         img.demo(src='assets/images/brand-logo.svg' alt='logo')
//-             .col-10    
//-                 .header__menu
//-                     ul.d-flex.align-center.justify-end.mb-0
//-                         li
//-                             a(href='about-us.html') About us 
//-                         li
//-                             a(href='methodology.html') Products & Solutions
//-                         li
//-                             a(href='our-services.html') Sustainability  
//-                         li
//-                             a(href='our-work.html') Contact us
//-                         li
//-                             img(src="assets/images/lock.png" alt="lock")
//-                             a(href='contact-us.html') Client portal
//-                 .toggle__menu
//-                     span
//-                     span
//-                     span
