extends _layout.pug
block csslinks
    link(rel='stylesheet', href='assets/css/home.css')

block content
    // =========> Hero section html start ===========-
    section.pt__comman-hero-sec(style='background-image: url(assets/images/hero.png)').pt__hero
        .container 
            .pt__comman-hero-inner
                h1 Business communications with a conscience
                p Our vision is to drive innovation through sustainable methods, delivering leading-edge technologies in line with our Net Zero target and sustainability policies.
                a.btn(href="#").primary_btn Get in touch
                .pt__hero-ic
                    a.pt_scroll(href='#pt_about')
                        span.pt_scroll-down

    
    
