extends _layout.pug
block csslinks
    link(rel='stylesheet', href='assets/css/home.css')

block content
    // =========> Insta Grid Section ===========-

    section
    // =========> Insta Grid Section ===========-


