@import "_variable"

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap')

*
    outline: none !important


html,body
    margin: 0
    padding: 0
    font-family: 'Red Hat Display', sans-serif
    font-weight: 400
    font-size: 16px
svg
    max-width: 100%
img
    max-width: 100%
    display: block

// Fonts
+ff("Red Hat Display", "RedHatDisplay-Regular", 400)
+ff("Red Hat Display", "RedHatDisplay-Medium", 500)
+ff("Red Hat Display", "RedHatDisplay-Bold", 700)


body
    counter-reset: section
    box-sizing: border-box
// .overlay
//     background: linear-gradient(180deg, rgba(248, 248, 249, 0) 0%, rgba(0, 0, 0, 0.824) 93.1%, #000000 100%)
//     background-blend-mode: multiply
//     mix-blend-mode: multiply
//     opacity: 0.58
a
    text-decoration: none	

*,*:before,*:after
    box-sizing: border-box
.main__page__content
    overflow: hidden
// .admin-bar 
//     .main__page__content
//         margin-top: 13rem
section
    position: relative

.container
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 79.9%
    padding: 0 15px
.container-fluid
    max-width: 100%
    padding: 0 15px
    margin: 0 auto

// font-size
h1,h2,h3,h4,h5,h6
    margin-top: 0
    margin-bottom: 0
    line-height: 1.3
p
    margin-top: 0
    margin-bottom: 0
    font-size: 1rem
    line-height: 1.3


h2,.h2
    font-size: 42px
h3,.h3
    font-size: 36px
h4
    font-size: 51px
h5
    font-size: 42px
h6
    font-size: 16px	



.align-baseline
    align-items: baseline

.white-space
    white-space: nowrap

//text css
.w-100
    width: 100%
.text-left
    text-align: left
.text-right
    text-align: right
.uppercase
    text-transform: uppercases
.form-field-group
    justify-content: space-between
    .form-group
        width: 48%
.form-group
    margin-bottom: 15px
    width: 100%
    label
        font-size: 17px
        display: block
        color: #404040
        margin-bottom: 10px
    input
        height: 66px
        display: block
        max-width: 100%
        width: 100%
        background-color: transparent
        border:1px solid #404040
        padding: 10px
        font-family: "Roboto"
        &::placeholder
            color: #CCCCCC
    textarea
        width: 100%
        height: 300px
        padding: 15px
        font-family: "Roboto"
        border:1px solid #404040
        &::placeholder
            color: #CCCCCC
            font-family: "Roboto"

.form-control
    width: 100%
    border: 1px solid #fff
    padding: 8px
    
    


ul
    padding-left: 0
    margin: 0
    li
        list-style: none
a
    cursor: pointer
    transition: all 0.5s
.hide
    display: none



//row-column css
.row
    display: -ms-flexbox
    display: flex
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    margin-right: -7.5px
    margin-left: -7.5px
.row
    [class*="col-"]
        padding-left: 7.5px
        padding-right: 7.5px
.col-2
    max-width: 20%
    flex: 0 0 20%
.col-3
    max-width: 25%
    flex: 0 0 25%
.col-4
    max-width: 33.33%
    flex: 0 0 33.33%
.col-40
    max-width: 40%
    flex: 0 0 40%
.col-5
    max-width: 45%
    flex: 0 0 45%
.col-55
    max-width: 55%
    flex: 0 0 55%
.col-6
    max-width: 50%
    flex: 0 0 50%
.col-7
    max-width: 75%
    flex: 0 0 75%
.col-8
    max-width: 60%
    flex: 0 0 60%
.col-10
    max-width: 80%
    flex: 0 0 80%
.col-12
    max-width: 100%
    flex: 0 0 100%
.col
    -ms-flex-preferred-size: 0
    flex-basis: 0
    -ms-flex-positive: 1
    flex-grow: 1
    max-width: 100%

+max(1260)
    .container	
        max-width: 90.4%
+sd
    .flex-column
        flex-direction: column


+mobile
    .container	
        max-width: 100%
+tablet
    .col-3, .col-4, .col-6, .col-8
        @include max-width(50%)
+mobile
    .col-3, .col-4, .col-6, .col-8
        @include max-width(100%)

// display css
.d-flex
    display: flex
.d-flex_wrap
    flex-wrap: wrap
.justify-between
    justify-content: space-between
.justify-center
    justify-content: center
.justify-end
    justify-content: flex-end
.align-center
    align-items: center
.order-0
    order: 0
.order-1
    order: 1
.align-items-end
    align-items: flex-end
.text-center
    text-align: center
.d-inlin_block
    display: inline-block

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos]
    transition-duration: .8s

.uppercase
    text-transform: uppercase
.no-scroll
    overflow: hidden