@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  outline: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

svg {
  max-width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Regular.eot");
  src: url("../fonts/RedHatDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RedHatDisplay-Regular.woff2") format("woff2"), url("../fonts/RedHatDisplay-Regular.woff") format("woff"), url("../fonts/RedHatDisplay-Regular.ttf") format("truetype"), url("../fonts/RedHatDisplay-Regular.svg#svgFontName") format("svg");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Medium.eot");
  src: url("../fonts/RedHatDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"), url("../fonts/RedHatDisplay-Medium.woff") format("woff"), url("../fonts/RedHatDisplay-Medium.ttf") format("truetype"), url("../fonts/RedHatDisplay-Medium.svg#svgFontName") format("svg");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Bold.eot");
  src: url("../fonts/RedHatDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RedHatDisplay-Bold.woff2") format("woff2"), url("../fonts/RedHatDisplay-Bold.woff") format("woff"), url("../fonts/RedHatDisplay-Bold.ttf") format("truetype"), url("../fonts/RedHatDisplay-Bold.svg#svgFontName") format("svg");
  font-weight: 700;
  font-display: swap;
}
body {
  counter-reset: section;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.main__page__content {
  overflow: hidden;
}

section {
  position: relative;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 79.9%;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.3;
}

h2, .h2 {
  font-size: 42px;
}

h3, .h3 {
  font-size: 36px;
}

h4 {
  font-size: 51px;
}

h5 {
  font-size: 42px;
}

h6 {
  font-size: 16px;
}

.align-baseline {
  align-items: baseline;
}

.white-space {
  white-space: nowrap;
}

.w-100 {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercases;
}

.form-field-group {
  justify-content: space-between;
}
.form-field-group .form-group {
  width: 48%;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}
.form-group label {
  font-size: 17px;
  display: block;
  color: #404040;
  margin-bottom: 10px;
}
.form-group input {
  height: 66px;
  display: block;
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  border: 1px solid #404040;
  padding: 10px;
  font-family: "Roboto";
}
.form-group input::-moz-placeholder {
  color: #CCCCCC;
}
.form-group input::placeholder {
  color: #CCCCCC;
}
.form-group textarea {
  width: 100%;
  height: 300px;
  padding: 15px;
  font-family: "Roboto";
  border: 1px solid #404040;
}
.form-group textarea::-moz-placeholder {
  color: #CCCCCC;
  font-family: "Roboto";
}
.form-group textarea::placeholder {
  color: #CCCCCC;
  font-family: "Roboto";
}

.form-control {
  width: 100%;
  border: 1px solid #fff;
  padding: 8px;
}

ul {
  padding-left: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

a {
  cursor: pointer;
  transition: all 0.5s;
}

.hide {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.row [class*=col-] {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.col-2 {
  max-width: 20%;
  flex: 0 0 20%;
}

.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.33%;
  flex: 0 0 33.33%;
}

.col-40 {
  max-width: 40%;
  flex: 0 0 40%;
}

.col-5 {
  max-width: 45%;
  flex: 0 0 45%;
}

.col-55 {
  max-width: 55%;
  flex: 0 0 55%;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 75%;
  flex: 0 0 75%;
}

.col-8 {
  max-width: 60%;
  flex: 0 0 60%;
}

.col-10 {
  max-width: 80%;
  flex: 0 0 80%;
}

.col-12 {
  max-width: 100%;
  flex: 0 0 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media (max-width: 1260px) {
  .container {
    max-width: 90.4%;
  }
}
@media (max-width: 1199px) {
  .flex-column {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .col-3, .col-4, .col-6, .col-8 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 767px) {
  .col-3, .col-4, .col-6, .col-8 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.d-flex {
  display: flex;
}

.d-flex_wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.align-items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.d-inlin_block {
  display: inline-block;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.8s;
}

.uppercase {
  text-transform: uppercase;
}

.no-scroll {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */